<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.path" value="/var/logs/p2p-gateway" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="infoRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/p2p-api-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/p2p-api-info.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logcenter" class="com.zb.cloud.logcenter.log.logback.ZbLogbackAppender"/>

    <!-- project default level -->
    <logger name="com.zillionfortune.platform.message" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="net.sf" level="INFO"/>
    <logger name="com.google" level="INFO"/>
    <logger name="com.googlecode" level="INFO"/>
    <logger name="org.apache" level="INFO"/>

    <!-- 异步输出 -->
    <appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold >0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="infoRollingFile"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>