<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:registry protocol="zookeeper" address="${config.zk.address}"/>

    <dubbo:consumer check="false" />

    <!-- 开发V3.0版时注释
    <dubbo:reference id="productFacade" interface="com.zb.fincore.ta.ladder.facade.ProductFacade" /> -->

    <dubbo:reference id="assetProductRelationServiceFacade" interface="com.zb.fincore.ams.facade.AssetProductRelationServiceFacade" />
    
    <!-- <dubbo:reference id="orderFacade" interface="com.zb.p2p.facade.service.OrderFacade" /> -->

    <!-- p2p 2.0 -->
    <!-- <dubbo:reference id="matchRecordFacade" interface="com.zb.p2p.facade.service.MatchRecordFacade" /> -->
    
</beans>