<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.p2p.customer.dao.OrgBankCardMapper" >
  <resultMap id="BaseResultMap" type="com.zb.p2p.customer.dao.domain.OrgBankCard" >
    <id column="org_id" property="orgId" jdbcType="BIGINT" />
    <id column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="bank_card_name" property="bankCardName" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_province" property="bankProvince" jdbcType="VARCHAR" />
    <result column="bank_city" property="bankCity" jdbcType="VARCHAR" />
    <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    org_id, bank_card_no, bank_card_name, bank_code,bank_name, bank_province,bank_city, bank_branch_name, channel_code,
    mobile, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zb.p2p.customer.dao.domain.OrgBankCardKey" >
    select 
    <include refid="Base_Column_List" />
    from qjs_user_org_bank_card
    where org_id = #{orgId,jdbcType=BIGINT}
      and bank_card_no = #{bankCardNo,jdbcType=VARCHAR} and channel_code = #{channelCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByOrgId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from qjs_user_org_bank_card
    where org_id = #{orgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zb.p2p.customer.dao.domain.OrgBankCardKey" >
    delete from qjs_user_org_bank_card
    where org_id = #{orgId,jdbcType=BIGINT}
      and bank_card_no = #{bankCardNo,jdbcType=VARCHAR} and channel_code = #{channelCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zb.p2p.customer.dao.domain.OrgBankCard" >
    insert into qjs_user_org_bank_card (org_id, bank_card_no, bank_card_name, 
      bank_code,bank_name, bank_province,bank_city, bank_branch_name, channel_code,
      mobile, create_time, update_time
      )
    values (#{orgId,jdbcType=BIGINT}, #{bankCardNo,jdbcType=VARCHAR}, #{bankCardName,jdbcType=VARCHAR}, 
      #{bankCode,jdbcType=VARCHAR},#{bankName,jdbcType=VARCHAR}, #{bankProvince,jdbcType=VARCHAR}, #{bankCity,jdbcType=VARCHAR}, #{bankBranchName,jdbcType=VARCHAR},
      #{channelCode,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zb.p2p.customer.dao.domain.OrgBankCard" >
    insert into qjs_user_org_bank_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="bankCardNo != null" >
        bank_card_no,
      </if>
      <if test="bankCardName != null" >
        bank_card_name,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankProvince != null" >
        bank_province,
      </if>
      <if test="bankCity != null">
        bank_city,
      </if>
      <if test="bankBranchName != null" >
        bank_branch_name,
      </if>
      <if test="channelCode != null" >
        channel_code,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="bankCardNo != null" >
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCardName != null" >
        #{bankCardName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankProvince != null" >
        #{bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="bankCity != null">
        #{bankCity,jdbcType=VARCHAR},
      </if>
      <if test="bankBranchName != null" >
        #{bankBranchName,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zb.p2p.customer.dao.domain.OrgBankCard" >
    update qjs_user_org_bank_card
    <set >
      <if test="bankCardName != null" >
        bank_card_name = #{bankCardName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankProvince != null" >
        bank_province = #{bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="bankCity != null">
        bank_city = #{bankCity,jdbcType=VARCHAR},
      </if>
      <if test="bankBranchName != null" >
        bank_branch_name = #{bankBranchName,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null" >
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=BIGINT}
      and bank_card_no = #{bankCardNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zb.p2p.customer.dao.domain.OrgBankCard" >
    update qjs_user_org_bank_card
    set bank_card_name = #{bankCardName,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_province = #{bankProvince,jdbcType=VARCHAR},
      bank_city = #{bankCity,jdbcType=VARCHAR},
      bank_branch_name = #{bankBranchName,jdbcType=VARCHAR},
      channel_code = #{channelCode,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where org_id = #{orgId,jdbcType=BIGINT}
      and bank_card_no = #{bankCardNo,jdbcType=VARCHAR}
  </update>
</mapper>