<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>“唐小僧”平台-借款合同</title>
    <style>
        table {
            width: 100%;
            font-size: 14px;
            border-collapse: collapse;
        }

        table tr {
            border: 1px solid #666;
            height: 50px;
        }

        table tr td {
            border: 1px solid #666;
            line-height: 30px;
            text-align: center;
            width: 25%;
        }
    </style>
</head>

<body>
<section class="content">
    <article class="viewport bg-white" style="overflow:auto">
        <p style="text-align: right;">协议编号：
            <span id="contractid">$contractTemplateAttribute.agreementNo$</span>
        </p>
        <br>
        <h2 class="text-center col-444" style="text-align: center">“唐小僧”平台-借款协议</h2>
        <br>
        <p>借贷双方基本信息</p>
        <br>
        <p>出借人（甲方）姓名：
            <span id="username">$contractTemplateAttribute.investMemberName$</span>
        </p>
        <p>身份证号：
            <span id="usercardnumber">$contractTemplateAttribute.investMemberIdCard$</span>
        </p>
        <p>联系方式：
            <span id="userphone">$contractTemplateAttribute.investMemberTel$</span>
        </p>
        <br>
        <p>借款人（乙方）姓名：
            <span class="borrowename">$contractTemplateAttribute.loanMemberName$</span>
        </p>
        <p>统一社会信用代码：
            <span class="borroweidnumber">$contractTemplateAttribute.companyCertificateNo$</span>
        </p>
        <p>联系地址：
            <span class="borrowaddr">$contractTemplateAttribute.contactAddress$</span>
        </p>
        <br>
        <!-- <p>资金托管方：新浪支付</p><br> -->
        <p>鉴于：</p>
        <p>
        <ol>
            <li>资邦元达（上海）互联网金融信息服务有限公司（以下简称“资邦元达”）是依法成立且有效存续的有限责任公司，通过旗下的“唐小僧”网络借贷平台为出借方和借款人提供信息交互、撮合、资信评估等信息中介服务。</li>
            <li>甲乙双方均为有完全民事权利能力和行为能力的自然人或法人，乙方有借款需求，甲方同意借款。双方同意通过“唐小僧”服务平台促成借贷关系，并在其后台自动确认生成协议书，甲、乙均确认，甲乙双方授权平台使用电子签名的方式签署本借款协议，并委托资邦元达保管借款协议文本及相关电子数据信息。</li>
        </ol>
        </p>
        <p>据此，甲、乙双方自愿达成网络借贷协议，共同遵照履行。</p>
        <br>
        <h3 class="col-444">第一条 借款基本信息</h3>
        <p style="text-align:center;">借款基本信息</p>
        <p>
        <table>
            <tr>
                <td style="width: 10rem;">借款本金</td>
                <td>人民币：
                    <span id="bidamount">$contractTemplateAttribute.loanAmount$ 元</span>
                </td>
            </tr>
            <tr>
                <td>借款年利率</td>
                <td>
                    <span id="rate">$contractTemplateAttribute.loanYearYield$</span>
                </td>
            </tr>
            <tr>
                <td>借款用途</td>
                <td>
                    <span id="jkyt">$contractTemplateAttribute.loanPurpose$</span>
                </td>
            </tr>
            <tr>
                <td>借款放款日</td>
                <td>
                    <span id="jkfangkdate">$contractTemplateAttribute.loanWithdrawTimeStr$</span>
                </td>
            </tr>
            <tr>
                <td>起息日</td>
                <td>
                    <span id="startdate">$contractTemplateAttribute.valueTimeStr$</span>
                </td>
            </tr>
            <tr>
                <td>到期日</td>
                <td>
                    <span id="enddate">$contractTemplateAttribute.expireTimeStr$</span>
                </td>
            </tr>
            <tr>
                <td>还款方式</td>
                <td>一次性还本付息。利息=本金*借款年利率*借款期限/365天</td>
            </tr>
            <tr>
                <td>还款日</td>
                <td>
                    <span id="huankdate">$contractTemplateAttribute.repayTimeStr$</span>
                </td>
            </tr>
            <tr>
                <td>还款期数</td>
                <td>1期</td>
            </tr>
            <tr>
                <td>每期还款本息金额</td>
                <td>
                    <span id="huankamount">$contractTemplateAttribute.needPayBackAmount$ 元</span>
                </td>
            </tr>
        </table>
        </p>
        <br>
        <p>注：上述借款明细中列明的金额或因期限、利率尾差等原因发生变化，出借人、借款人不可撤销地委托唐小僧平台计算相关金额，并在平台公布或更新借款明细并以手机APP、短信等方式通知借款人。上述借款明细中列明每月还款本息金额与唐小僧平台公布或更新的还款明细不一致，以平台公布或更新的还款明细为准。</p>
        <br>
        <h3 class="col-444">第二条 各方的权利和义务</h3>
        <p>1.1. 甲方的权利和义务</p>
        <p>1.1.1. 甲方承诺与保证：（1）提供的身份信息等信息的真实、准确、完整；（2）出借资金为来源合法的自有资金；（3）了解融资项目信贷风险，确认具有相应的风险认知和承受能力，自行承担借贷产生的本息损失。</p>
        <p>1.1.2. 甲方在唐小僧平台充值相应出借金额并投标后，甲方平台账户内的相应资金冻结，甲方不得提现或转账。甲方最终出借本金以实际划付至乙方指定收款账户的资金数额为准。</p>
        <p>1.1.3. 甲方在唐小僧平台上点击“确认”接受本协议条款后，即不可撤销地授权唐小僧平台及与唐小僧平台合作的银行、第三方支付机构在本协议涉及的投资标的成立后将甲方平台账户内的冻结资金划付给“唐小僧”为乙方在第三方支付机构开设的子账户,乙方于第三方支付机构开设的子账户所收到借款本金即视为乙方收到借款本金，也即甲方出借成功，乙方需主动在“唐小僧”平台上发起提现手续将借款本金提现至乙方所指定的收款账户。甲方有权按照本协议第一条表的约定享有出借款项所带来的利息收益，并依据相关法律规定自行主动缴纳相关税费。</p>
        <p>1.1.4. 乙方为该笔债务提供的一切担保措施（如有），甲方均授权“唐小僧”平台运营方资邦元达（上海）互联网金融信息服务有限公司（以下简称“资邦元达”）全权代为处理，乙方不得有任何异议。包括但不限于抵押/质押人登记为资邦元达，履行担保手续人为资邦元达，行使担保权人为资邦元达等。</p>
        <p>1.1.5. 乙方还须遵守其与唐小僧平台之间的协议约定的权利与义务。</p>
        <p>2.2. 乙方的权利和义务</p>
        <p>2.2.1. 乙方承诺与保证：（1）提供的身份信息、融资信息、在其他网络借贷信息中介机构未偿还借款信息等信息的真实、准确、完整；（2）融资项目真实、合法，不得将融入资金用于合同约定借款用途以外其他目的；（3）按照约定向出借人及（或）平台如实报告影响或可能影响出借人权益的重大信息；（4）确保自身具有与借款金额相匹配的还款能力并按照合同约定还款。</p>
        <p>2.2.2. 乙方承诺借款仅用于本协议第一条约定的借款用途，不得用于除该指定用途外的其他用途不得将借款用于任何违法活动。一经发现，甲方立即不可撤销的授权唐小僧平台宣布借款提前到期，并要求乙方提前清偿全部借款本金及整个约定借款期间内应付利息，并采取必要的保全措施。</p>
        <p>2.2.3. 乙方确认认可初次到达乙方指定收款平台账户的金额为借款本金。</p>
        <p>2.2.4. 乙方须履行其与唐小僧平台之间协议约定的支付相关费用的义务。</p>
        <p>2.2.5. 乙方在本合同履行终止前，应及时通过唐小僧平台向甲方告知个人情况更新情况，包括但不限于工作单位发生变化、收入发生变化等可能影响还款的事项。</p>
        <br>
        <h3 class="col-444">第三条 正常还款</h3>
        <p>3.1. 乙方应按照本协议约定，在还款日（不得迟于24:00）或之前向与乙方平台账户绑定的银行卡内存入相应款项，该等相应款项应包括但不限于月偿还当期应还本金（如有）、当期应付利息、罚息（若有）、违约金（若有）等其他相关费用。</p>
        <p>3.2. 乙方不可撤销地授权唐小僧平台委托银行或第三方支付机构于还款日当日（包括提前还款）（不得迟于24:00）将乙方平台账户绑定的银行卡中款项划转至乙方平台账户，并于同日划转至甲方平台账户偿还应还款项。</p>
        <br>
        <h3 class="col-444">第四条 逾期还款</h3>
        <p>4.1. 逾期还款是指还款日24点前，借款人未将足额本金及（或）利息支付至乙方平台账户绑定的银行卡导致平台划款失败的，视为借款人逾期。</p>
        <p>4.2. 借款人逾期时，应按照本协议第7.2款支付罚息。当借款人的任何一期应付款项逾期时，由第三方公司进行偿还（如有），偿还顺序为相关费用、利息、本金。第三方公司代为偿付后，当期债权归属于代偿方。</p>
        <p>4.3. 乙方逾期后再进行还款的，偿还顺序为相关费用、利息、本金。且资邦元达有权将该 “逾期记录”记入互联网金融行业信用系统和公民征信系统，不承担任何法律责任。</p>
        <br>
        <h3 class="col-444">第五条 提前还款</h3>
        <p>5.1. 乙方可在到期日前，申请提前偿还全部应付款项。</p>
        <p>5.2. 借款人提前还款的，应支付提前还款违约金，提前还款违约金为剩余期限对应的利息。</p>
        <br>
        <h3 class="col-444">第六条 保密条款</h3>
        <p>6.1. 本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息统称为“保密信息”，但（1）从披露方获得时，已公开的；（2）从披露方获得前，接受方已经获知的；（3）从有正当权限并不受保密义务制约的第三方获得的；以及（4）非依靠披露方披露或提供的信息独自开发的信息除外。</p>
        <p>6.2. 除非事先得到另一方的书面同意，任何一方不得向其他任何第三方披露保密信息，法律法规另有规定的除外。</p>
        <p>6.3. 保密义务</p>
        <p>6.3.1. 甲乙双方应对从对方处获知、收到的所有保密信息予以严格保密，确保保密信息不因己方的原因被本协议以外的其他方直接或间接接触、获悉。</p>
        <p>6.3.2. 使用保密信息应仅限于与本合同有关的事项的目的，不得将保密信息用于除本交易以外的其他目的，也不得将保密信息再披露给本协议以外的其他方。</p>
        <p>6.4. 保密期限</p>
        <p>本协议下的保密义务自本协议生效之日起始至借款协议项下义务全部履行完毕后五年，本协议因任何原因被撤销、认定为无效的，保密义务不对甲乙双方仍有法律约束力。</p>
        <br>
        <h3 class="col-444">第七条 违约责任</h3>
        <p>7.1. 协议各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。</p>
        <p>7.2. 乙方逾期还款的，应按每天应还未还金额的0.5%支付罚息。</p>
        <p>7.3. 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师费等。</p>
        <p>7.4. 如乙方逾期还款满3日，甲方有权解除本协议，并授权唐小僧平台向乙方发送解除通知，本协议项下的全部借款本金、利息及其他相关应付款项于解除通知送达乙方之日提前到期。乙方应在本协议解除之日起3日内偿还剩余的全部借款本金、利息、罚息以及其他费用。如本协议提前解除时，乙方平台账户里有任何余款的，唐小僧平台有权根据本协议约定指令支付机构将乙方账户内的余款划扣至甲方或唐小僧平台账户，直至划款金额完全偿付乙方应付的本金、利息、罚息以及其他费用。</p>
        <p>7.5. 如乙方存在逃避、拒绝沟通或拒绝承认欠款事实等恶意行为，甲方有权解除本协议，并授权唐小僧平台在发现前述事项后向乙方发送解除通知，本协议项下的全部借款本金、利息、罚息及其他相关应付款项于解除通知送达乙方之日提前到期，乙方应于本协议解除之日起3日内清偿尚未偿付全部借款本金、利息、罚息及其他应付款项。</p>
        <p>7.6. 甲方有权授权唐小僧平台将乙方违约失信的相关信息披露给媒体、乙方的用人单位、公安机关、检察院、法院、人民银行或P2P行业个人信用征信系统以及根据唐小僧平台逾期黑名单的规则纳入逾期黑名单。</p>
        <p>7.7. 若乙方提供虚假资料或隐瞒重要事实，甲方有权解除本协议，并授权唐小僧平台在发现前述事项后向乙方发送解除通知，本协议项下的全部借款本金、利息及其他相关应付款项于解除通知送达乙方之日起提前到期，乙方应在本协议解除之日起3日内清偿尚未偿付全部借款本金、利息、罚息及其他应付款项。</p>
        <p>7.8. 甲方可授权唐小僧平台代为作出是否解除本协议的决定、代为向乙方发出本协议解除通知、代为办理提前终止协议手续和提前催收工作。</p>
        <p>7.9. 若乙方已构成违约或根据甲方、唐小僧平台的合理判断乙方可能发生违约事件，甲方授权唐小僧平台可采取下列一项或几项措施：</p>
        <p>7.9.1. 立即暂停、取消发放全部或部分借款；</p>
        <p>7.9.2. 宣布已交付的借款全部提前到期,乙方应在收到唐小僧平台通知(包括但不限于口头、电子邮件、短信任何一种形式)后三日内归还一切应付款项（包括但不限于本金、利息、罚息及其他费用）,乙方已支付的费用不予退还；</p>
        <p>7.9.3. 解除本协议；</p>
        <p>7.9.4. 采取有效的救济措施；</p>
        <p>7.9.5. 在乙方清偿全部款项前,逾期还款违约金不停止计算。</p>
        <br>
        <h3 class="col-444">第八条 法律及争议解决</h3>
        <p>本协议的签订、履行、终止、解释均适用中华人民共和国法律，因本协议引起的或与本协议有关的任何争议，首先应当通过友好协商解决。各方协商不成或协商时间超过15个工作日，任何一方均有权向上海市浦东新区人民法院提请诉讼。除生效判决另有裁判外，诉讼费用、律师费以及其他相关费用，由败诉方承担。</p>
        <br>
        <h3 class="col-444">第九条 生效及其他</h3>
        <p>9.1. 本协议由唐小僧平台制定并发布，双方在线上签署后生效。协议生效后，各方均认可电子借款协议及其附件效力。</p>
        <p>9.2. 甲方、乙方均同意并确认，双方平台账户的资金划付均通过第三方支付机构进行，所产生的法律效果及法律责任归属于甲方、乙方。同时，甲方、乙方委托唐小僧平台根据本协议及相关协议、规则采取的全部行动和措施的法律后果均归属于甲方、乙方，平台不因此承担责任。</p>
        <p>9.3. 本协议的任何条款的无效不影响本协议其他条款的效力。</p>
        <p>乙方在本协议首部预留的所有信息与联系方式均真实有效，如有变更，乙方应立即以书面方式通知其他各方，如怠于通知的，应承担由此产生的一切不利法律后果。如一方采取邮寄方式送达的，自寄出之日起3日后视为已送达，采用电子邮件或短信方式送达的，自邮件到达收件人邮箱系统或短信到达收信人手机系统之日视为已送达。</p>
        <p>甲方承诺，作为出借人完全同意本协议的所有内容,认可借款协议及其附件的法律效力及承诺签署本协议（含附件）均为本人真实意思的表示，愿承担因违反本借款协议约定及承诺而产生的一切责任和损失。</p>
        <p>乙方承诺，作为借款人完全同意本协议的所有内容,认可借款协议及其附件的法律效力及承诺签署本协议（含附件）均为本人真实意思的表示，愿承担因违反本借款协议约定及承诺而产生的一切责任和损失。</p>
        <br>
        <p>甲方（签名）：
            <span id="jfsign"></span>
        </p>
        <br>
        <p>乙方（签名）：
            <span id="yfsign"></span>
        </p>
        <br>
        <p>签署日期：
            <span id="signdate">$contractTemplateAttribute.contractTimeStr$</span>
        </p>
        <p>签署地：上海市浦东新区</p>
    </article>
</section>
</body>

</html>